div {
  justify-content: center;
  display: flex;
}

td {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 14px; /* Añade un espacio interno para que la tabla sea más grande */
}

#botones {
  margin-top: 2%;
  display: flex;
}
button {
  margin: 1%;
}
body {
  background-color: rgb(0, 122, 126);
}
table {
  border-collapse: collapse; /* Une los bordes de las celdas adyacentes */
  border-spacing: 0; /* Elimina el espacio entre las celdas */
  background-color: white;
  border-top: 5px solid #00f;
  border-right: 5px solid #f00;
  border-bottom: 5px solid #0f0;
  border-left: 5px solid #ff0;
}
.tetris-effect {
  font-size: 3rem; /* Tamaño de fuente deseado */
  font-family: "Arial", sans-serif; /* Fuente deseada */
  background: linear-gradient(
    45deg,
    #ff0000,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff00ff,
    #00ffff
  ); /* Colores de fondo en gradiente */
  -webkit-background-clip: text; /* Aplica el fondo al texto (necesario para Webkit, como Chrome y Safari) */
  background-clip: text;
  color: transparent; /* Hace que el color del texto sea transparente */
  animation: tetris 10s linear infinite; /* Animación */
}

@keyframes tetris {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}

button {
  background-color: transparent;
  border: 0px;
  font-family: "Baloo";
  font-weight: bold;
  font-size: medium;
  color: azure;
}

/* Estilo para el despegable */

#dificultad {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 30%;
}
select,
option {
  position: absolute;
  margin-top: 25%;
}
h2 {
  font-size: xx-large;
  font-family: "Arial", sans-serif; /* Fuente deseada */
  background: linear-gradient(
    45deg,
    #ff0000,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff00ff,
    #00ffff
  );
  -webkit-background-clip: text; /* Aplica el fondo al texto (necesario para Webkit, como Chrome y Safari) */
  background-clip: text;
  color: transparent; /* Hace que el color del texto sea transparente */
  animation: tetris 10s linear infinite; /* Animación */
}

#firma {
  position: fixed;
  bottom: 1%;
  right: 1%;
  font-family: cursive;
}

#pause {
  margin-top: 0.5%;
  height: 2%;
  width: 2%;
}
