div {
  justify-content: center;
  display: flex;
}

td {
  border: 1px solid rgba(128, 128, 128, 0.5);
  padding: 14px; /* Añade un espacio interno para que la tabla sea más grande */
}

#botones {
  margin-top: 2%;
  display: flex;
}
button {
  background-color: transparent;
  border: 2px solid #3498db; /* Borde del mismo color que el fondo */
  border-radius: 5px; /* Añade esquinas redondeadas */
  font-family: "Baloo", cursive; /* Cambio de fuente con estilo manuscrito */
  font-weight: bold;
  font-size: 1.2rem; /* Tamaño de fuente ligeramente más grande */
  color: #3498db; /* Color de texto */
  padding: 10px 20px; /* Espaciado interno para un aspecto más amigable */
  transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
}

button:hover {
  background-color: #3498db; /* Cambia el fondo al color del texto en hover */
  color: white; /* Cambia el color del texto en hover */
}
body {
  background-image: linear-gradient(to right,blue,black);
}
table {
  
  border-collapse: collapse; /* Une los bordes de las celdas adyacentes */
  border-spacing: 0; /* Elimina el espacio entre las celdas */
  background-color: white;
  border-top: 5px solid #00f;
  border-right: 5px solid #f00;
  border-bottom: 5px solid #0f0;
  border-left: 5px solid #ff0;
}
.tetris-effect {
  margin-top: 0%;
  font-size: 3rem; /* Tamaño de fuente deseado */
  font-family: "Arial", sans-serif; /* Fuente deseada */
  background: linear-gradient(
    45deg,
    #ff0000,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff00ff,
    #00ffff
  ); /* Colores de fondo en gradiente */
  -webkit-background-clip: text; /* Aplica el fondo al texto (necesario para Webkit, como Chrome y Safari) */
  background-clip: text;
  color: transparent; /* Hace que el color del texto sea transparente */
  animation: tetris 10s linear infinite; /* Animación */
}

@keyframes tetris {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200% 200%;
  }
}

button {
  background-color: transparent;
  border: 0px;
  font-family: "Baloo";
  font-weight: bold;
  font-size: medium;
  color: azure;
}

/* Estilo para el despegable */

#dificultad {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 30%;
}
select,
option {
  position: absolute;
  margin-top: 25%;
  font-size: 50px;
}
h2 {
  font-size: xx-large;
  font-family: "Arial", sans-serif; /* Fuente deseada */
  background: linear-gradient(
    45deg,
    #ff0000,
    #00ff00,
    #0000ff,
    #ffff00,
    #ff00ff,
    #00ffff
  );
  -webkit-background-clip: text; /* Aplica el fondo al texto (necesario para Webkit, como Chrome y Safari) */
  background-clip: text;
  color: transparent; /* Hace que el color del texto sea transparente */
  animation: tetris 10s linear infinite; /* Animación */
}

@keyframes tetris {
  0%, 100% {
    text-shadow: -2px -2px 0 #ff0000, 2px -2px 0 #00ff00, -2px 2px 0 #0000ff, 2px 2px 0 #ffff00;
  }
  25% {
    text-shadow: -2px -2px 0 #ff00ff, 2px -2px 0 #00ffff, -2px 2px 0 #ff0000, 2px 2px 0 #00ff00;
  }
  50% {
    text-shadow: -2px -2px 0 #0000ff, 2px -2px 0 #ffff00, -2px 2px 0 #ff00ff, 2px 2px 0 #00ffff;
  }
  75% {
    text-shadow: -2px -2px 0 #00ff00, 2px -2px 0 #ff00ff, -2px 2px 0 #0000ff, 2px 2px 0 #ffff00;
  }
}


#firma {
  position: fixed;
  bottom: 1%;
  right: 1%;
  font-family: cursive;
  color: white;
  
}

#pause {
  margin-top: 0.5%;
  height: 2%;
  width: 2%;
}

#controles{
  height: 40%;
  width: 20%;
  position: absolute;
  right: 7%;
  top: 15%;
}
